*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#grid-container{
    width: 640px;
    height: auto;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
}